li a:hover {
    text-decoration: underline;
}

.align {
    display: flex;
    justify-content: center;
    margin-left: -75px;
}

.footer {
    background-color: #303f9f;
    bottom: 0;
    color: #fff
}

.sign-in {
    line-height: 1.75rem !important;
    margin-top: 24px !important;
    padding: 6px 16px !important;
    background-color: #1976d2 !important;
    border-radius: 4px !important;
    color: white !important;
}

.disable-sign-in {
    line-height: 1.75rem !important;
    margin-top: 24px !important;
    padding: 6px 16px !important;
    background-color: #e0e0e0 !important;
    border-radius: 4px !important;
    color: #acadad !important;
}

.login-page {
    box-shadow: none !important;
}